@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #151515;
    --glass-background: linear-gradient(
      106.51deg,
      rgba(255, 255, 255, 0.05) 3.44%,
      rgba(255, 255, 255, 0.02) 64.82%
    );
    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
    );
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
